# services:
#   coordinator:
#     build:
#       context: ./coordinator
#       dockerfile: Dockerfile.coordinator
#     container_name: coordinator
#     depends_on:
#       - worker1
#       - worker2
#     ports:
#       - "8000:8000"
#     entrypoint: ["uvicorn", "api:app", "--host", "0.0.0.0", "--port",  "8000"]
#     volumes:
#       - ./frontend:/app/frontend


#   worker1:
#     build:
#       context: ./worker
#       dockerfile: Dockerfile.worker
#     container_name: worker1
#     ports:
#       - "8001:8000"

#   worker2:
#     build:
#       context: ./worker
#       dockerfile: Dockerfile.worker
#     container_name: worker2
#     ports:
#       - "8002:8000"

#   frontend:
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile.front
#     container_name: frontend
#     ports:
#       - "8080:80"
#     depends_on:
#       - coordinator

services:
  coordinator:
    build:
      context: ./coordinator
      dockerfile: Dockerfile.coordinator
    container_name: coordinator
    depends_on:
      - worker1
      - worker2
      - worker3
      - worker4
    ports:
      - "8000:8000"
    entrypoint: ["uvicorn", "api:app", "--host", "0.0.0.0", "--port", "8000"]
    volumes:
      - ./frontend:/app/frontend

  worker1:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    container_name: worker1
    ports:
      - "8001:8000"

  worker2:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    container_name: worker2
    ports:
      - "8002:8000"

  worker3:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    container_name: worker3
    ports:
      - "8003:8000"

  worker4:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    container_name: worker4
    ports:
      - "8004:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.front
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - coordinator
