services:
  coordinator:
    build:
      context: ./coordinator
      dockerfile: Dockerfile.coordinator
    depends_on:
      - worker-1
      - worker-2
      - worker-3
      - worker-4
    ports:
      - "8000:8000"
    volumes:
      - ./frontend:/app/frontend
    entrypoint: ["uvicorn", "api:app", "--host", "0.0.0.0", "--port", "8000"]

  worker-1:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    ports:
      - "8001:8000"

  worker-2:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    ports:
      - "8002:8000"

  worker-3:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    ports:
      - "8003:8000"

  worker-4:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    ports:
      - "8004:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.front
    ports:
      - "8080:80"
    depends_on:
      - coordinator
